*{
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
    /* text-align: center;/ */
}
.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    
}
.c:hover{
    /* opacity: 0.5; */
    background-color: #081b31;
    cursor: pointer;
}
.c{
     height: 165px;
     width: 165px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; 
    margin-top: 3rem;
    gap: 5rem;
}
#p1, #p2{
    font-size: 4rem;
}
.mgs{
    margin-top: 5rem;
}
.m1{
    color: white;
    background-color: #081b31;
    /* padding: 1rem;
    border-radius: 10px; */
    /* height: 5rem; */
    /* margin-top: 5rem; */
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
/* ------------------- */

.m1:hover {
    background-color: #2ecc71;
    transform: scale(1.05);
}
.c:hover {
    transform: scale(1.2);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 1), inset 0 0 25px rgba(255, 255, 255, 0.3);
}
h1 {
    /* font-size: 1em; */
    /* letter-spacing: 4px; */
    margin-bottom: 30px;
    color: #f39c12;
    text-transform: uppercase;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    animation: glow 1.5s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
        text-shadow: 0 0 10px #f39c12, 0 0 20px #e74c3c, 0 0 30px #e67e22;
    }
    to {
        text-shadow: 0 0 20px #f1c40f, 0 0 30px #e67e22, 0 0 40px #e74c3c;
    }
}